* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  filter: blur(7px);
}
body {
  background: #eee;
}
.screen {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.box1 {
  width: 625px;
  height: 1200px;
  position: absolute;
  top: -100px;
  left: -10px;
  transition: all 2s;
}
.box1.is-active {
  width: 1000px;
  height: 1700px;
}
.box2 {
  width: 500px;
  height: 800px;
  position: absolute;
  top: -100px;
  left: 590px;
  transition: all 2s;
}
.box2.is-active {
  width: 1000px;
  height: 1700px;
  left: 250px;
}

.title {
  color: #f00;
  font-family: Inter;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 7px;
  z-index: 1;
  position: relative;
  top: 490px;
  left: 300px;
}
.title.is-active {
  color: #fff;
}
.under_title {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2.4px;
  position: relative;
  top: 490px;
  left: 300px;
  z-index: 1;
}
.under_title.is-active {
  color: #ffffff;
}
.language {
  top: 50px;
  left: 600px;
  right: -130px;
  position: absolute;
  z-index: 1;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.box3 {
  width: 450px;
  height: 1000px;
  position: absolute;
  bottom: -0px;
  left: 635px;
  transition: all 2s;
}
.box3.is-active {
  width: 1300px;
  height: 1550px;
  left: -50px;
}
.box4 {
  width: 400px;
  height: 500px;
  position: absolute;
  bottom: -0px;
  left: -10px;
  transition: all 2s;
}
.box4.is-active {
  width: 1350px;
  height: 1300px;
}

.hand {
  position: absolute;
  right: 600px;
  top: 1170px;
  color: rgb(255, 255, 255);
  path {
    fill: #ffb0ec;
  }
}
.hand.is-active {
  path {
    fill: rgb(255, 255, 255);
  }
}
.logo {
  width: 110px;
  height: 90px;
  flex-shrink: 0;
  aspect-ratio: 19/14;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
